@model IEnumerable<ForumDeDiscussion.Models.Member>

@{
    ViewData["Title"] = "Gestion des Membres";
}

<div class="container mt-5">
    <h1>Liste des membres</h1>
    <a asp-action="Create" class="btn btn-primary mb-3">Ajouter un Membre</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nom d'Affichage</th>
            <th>Courriel</th>
            <th>Nom d'utilisateur</th>
            <th>Rôle</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.Email</td>
                <td>@member.UserName</td>
                <td>@member.Role</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@member.Id" class="btn btn-warning">Modifier</a>
                    <a asp-action="Delete" asp-route-id="@member.Id" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>